.navbar {
    background-color: rgb(7, 6, 6);

    .navbar-brand {
        color: rgb(0, 192, 254);
        font-family: $font-secondary;
        font-size: 30px;

        &:hover {
            color: rgb(0, 192, 254);
        }
    }

    .nav-link {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;

        &:hover {
            color: rgb(0, 192, 254);
        }
    }

    .minwidth {
        min-width: 530px;
    }

    ul {
        a:hover {
            h4 {
                color: rgb(0, 192, 254);
            }
        }
    }
}