header {
    background-color: rgba(7, 6, 6);
    border-bottom: 1px solid white;

    nav {
        ul {
            text-align: end;

            li {
                display: inline;

                a {
                    color: antiquewhite;
                    border-right: 1px solid gray;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
    
    #unsic {
        font-family: $font-secondary;
    }
}