.container {
    margin-top: 100px;
}

.card {
    border-color:rgb(0, 192, 254);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &-header {
        background-color: rgba(1, 1, 1);
        border-bottom: none;
        text-align: center;
        font-weight: bold;
    }

    &-body {
        background-color: rgba(1, 1, 1);
        padding: 40px;
        
        & .rightcolor{
            color: rgb(0, 192, 254);
            font-weight: bold;
        }
    }

}

.form-control {
    border-radius: 20px;
    padding: 12px 20px;
}

.btn-primary {
    background-color: rgba(7, 6, 6);
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: bold;

    &:hover {
        background-color: rgb(0, 192, 254);
    }
}