* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(1, 1, 1);
}

li {
    list-style: none;
}

ul a:hover h4{
    color: rgb(0, 192, 254);
}

main {
    background-color: rgba(7, 6, 6);

    #unsicSlogan {
        font-family: $font-primary;
        font-size: calc(4vw + 3rem);
        color: rgb(0, 192, 254);
    }

    span {
        display: block;
    }

    a {
        text-decoration: none;
    }

    li h4:hover {
        color: rgb(0, 192, 254);
        cursor: pointer;
    }

    form {
        label {
            color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}